.container {
  padding: 0 2rem;
  max-width: 960px;
  margin: 1rem auto 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
}

.logoSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  margin-right: 0.5rem;
  margin-bottom: 1.3rem;
}

.nav a:hover,
.nav a:focus,
.nav a:active {
  text-decoration: underline;
}

.nav {
  font-size: 1rem;
  display: flex;
  align-items: center;
}
.source {
  margin-right: 0.5rem;
}
.subscribe {
  background-color: #ff4c29;
  padding: 0.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}
